<h1>Template Registration Form</h1>
<form #regform="ngForm" (ngSubmit)="getuser(regform.value)">
    <h2>REGITER HERE</h2>
    <input   type="text" required #Name="ngModel" name="Name" placeholder="Enter your name" ngModel />
    <br />
    <span *ngIf="Name.invalid && Name.touched" class="error">Name is required</span>
    <br /><br />

    <input    type="password" required #pass="ngModel" name="password" placeholder="Enter Password" ngModel />
    <br />
    <span *ngIf="pass.invalid && pass.touched" class="error">Password is required</span>
    <br /><br />

    <button>Register</button>
    <button type="reset">Reset</button>
</form>